{% extends 'Audit/audit_base.html' %}

{% block content %}
    <div class="p-5 mt-2 w-100">
        <h1 class="text-center">Welcome to NewStarT Audit</h1>
        <p>To use NewStarT make sure you have created a <b>superuser account</b>.</p>
        <p>In Docker, the default superuser account is</p>
        <dl>
            <dt>Username</dt>
            <dd><code>admin</code></dd>
            <dt>Password</dt>
            <dd><code>1234</code></dd>
        </dl>
        <p>If you are planning to use it in production, you should change this information</p>
    </div>
{% endblock %}