{% extends 'Audit/audit_base.html' %}
{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'audit\audit.css' %}">
{% endblock %}

{% if request.user.is_superuser %}
    {% block content %}
    <div class="container-fluid mt-4">
        <h2 class="mb-4 text-center">OWL management</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>
                        <div>
                            <div>{{ file_upload_form.file.label_tag }}</div>
                            <div>{{ file_upload_form.file }}</div>
                        </div>
                        {% if file_upload_form.file.errors %}
                        <div>
                            <div>{{ file_upload_form.file.errors }}</div>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary mt-2">Upload an OWL file</button>
                    </td>
                </tr>
                <tr>
                    <td>Delete all imported audit data (Categories, Subthemes, Questions and Answers)</td>
                    <td>
                        <button type="submit" class="btn btn-primary" name="action" value="clear_database" onclick="return confirm('Are you sure you want to delete all data? This action is irreversable');">Clear Audit data</button>
                    </td>
                </tr>
            </table>
            <h3 class="m-4">Uploaded files</h3>
            <table class="table mt-4">
                <tr>
                    <th>File name</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                {% for file in owl_files %}
                <tr>
                    <td>
                        OWL file - {{ file.file.name }}
                    </td>
                    <td>{{ file.uploaded_at|date:"Y-m-d h:i:s"}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'audit:owl_upload' pk=file.pk %}">Add data to audit</a>
                        <button type="submit" class="btn btn-outline-primary" name="delete" value="{{ file.pk }}" onclick="return confirm('File will be deleted irreversibly');">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted">
                        No OWL files uploaded
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    {% endblock %}
{% endif %}
