.nav-highlight:hover {
    background-color: #ccd6e0!important;
}
.color-bf9b30 {
    color: #bf9b30;
}

.navigationButton {
    font-size: calc(1rem + 1.5vw);;
}
.navigationButton::after {
    margin-left: 0px;
}

.plot-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 575.98px) {
    body {
    font-size: 0.875rem;
    }
}
.card {
    margin-top: 20px;
    border-radius: 0.9375rem;
    box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.16),
    0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
}
.card-header {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    font-size: 1.25rem;
    padding: 0.625rem 0.9375rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
}
.card-header-notclickable {
    background-color: #02979D;
    color: white;
    font-size: 1.25rem;
    padding: 0.625rem 0.9375rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
}
.modal-header {
    background-color: #4caf50;
    color: white;
    font-size: 1.25rem;
    padding: 0.625rem 0.9375rem;
}
.nested-table {
    display: none;
    padding: 0.625rem 0.9375rem;
}
.list-group-item {
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}
.list-group-item:hover {
    background-color: #f8f9fa;
}
.progress {
    height: 1.25rem;
    margin-top: 0.625rem;
}
.progress-bar {
    background-color: #e9ecef;
}
.progress-pill {
    display: inline-block;
    background-color: #02979D;
    width: 40px;
    height:10px;
    border-width:0;
    border-radius: 5px;
    opacity: 1;
    margin-right: 10px;
}

a.button {
    text-decoration: none;
    background-color: #ace3e6;
    border-radius: 10px;
    color: #313638;
    white-space: nowrap;
}
a.button:hover {
    background-color: #addbde;
}



.meta-pill {
    border-radius: 100px;
    background-color: #12e374;
    font-weight: bold;
    color: #0b8544;
}
.meta-pill.disabled {
    opacity: 0.7;
    cursor: default;
    user-select: none;
    background-color: #C1C1C1;
    color: #828282;
}
.meta-pill::before {
    content: "✓";
}
.meta-pill.disabled::before {
    content: "✘";
}



#dashboard-nav {
    background-color: #ace3e688;
    position: sticky;
    top: 0;
    z-index: 10;
}
#dashboard-nav a {
    text-decoration: none;
    color: #02979D;
    font-weight: bold;
    font-size: 1.1rem;
    border: solid 1px #02979D;
}
#dashboard-nav a:hover {
    background-color: #ace3e6;
    color: #02979D;
}
#dashboard-nav a.selected {
    background-color: #02979D;
    color: white;
}
.audit-info-pages {
    display: none;
}



.infoButton {
    color: #222222;
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-left: 3px;
}
.infoButton:hover {
    color: #777777;
    cursor: pointer;
}
.infoButton span {
    visibility: hidden;
    width: 200px;
    background-color: #000000BB;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}
.infoButton:hover span {
    visibility: visible;
}
.infoButton span:hover {
    visibility: hidden;
}

.angularaxistick > text {
    width: 300px;
}

.audit-type {
    font-weight: bolder;
}
.audit-type.user-selected::after {
    content: "★";
    color: #f0c546;
}
.audit-type.user-selected::before {
    content: "★";
    color: #f0c546;
}

#category-panel {
    z-index:2000;
    position: relative;
}
#selection-panel {
    z-index: 1000;
}

.bg-color-02979D {background-color: #02979D;}
.bg-color-8f140c {background-color: #8f140c;}
.bg-color-00cc7a {background-color: #00cc7a;}
.bg-color-ff1200 {background-color: #ff1200;}
.bg-color-e9ecef {background-color: #e9ecef;}

.color-02979D {color: #02979D;}
.color-bf9b30 {color: #f0c546;}
.color-bf9b30-dark {color: #b39533;}
.color-8f140c {color: #8f140c;}
.color-ff1200 {color: #ff1200;}

.color-02979D-fill {fill: #02979D;}
.color-bf9b30-fill {fill: #f0c546;}
.color-8f140c-fill {fill: #8f140c;}
.color-ff1200-fill {fill: #ff1200;}

.font-size-16px {font-size: 16px;}
.font-weight-bold {font-weight:bold;}

.info > .btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.info {
    min-width: 230px;
}
.info > .btn-submit {
    position: relative;
    background-color: #ffa500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    margin-right: 10px;
    color: white;
}
.info > .btn-submit:hover {
    background-color: #ffae19;
}
.info > .btn-submit > .tip {
    position: absolute;
    margin-top: -60px;
    margin-left: -80px;
    background-color: #313638DD;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 7.5px;
    width: 200px;
}
.info.disabled > .btn-submit {
    cursor: auto;
    background-color: #e9c686;
}
.info.disabled > .btn-submit:hover {
    background-color: #e9c686;
}

.w-1 {width: 1%;}
.w-2 {width: 2%;}
.w-3 {width: 3%;}
.w-4 {width: 4%;}
.w-5 {width: 5%;}
.w-6 {width: 6%;}
.w-7 {width: 7%;}
.w-8 {width: 8%;}
.w-9 {width: 9%;}
.w-10 {width: 10%;}
.w-11 {width: 11%;}
.w-12 {width: 12%;}
.w-13 {width: 13%;}
.w-14 {width: 14%;}
.w-15 {width: 15%;}
.w-16 {width: 16%;}
.w-17 {width: 17%;}
.w-18 {width: 18%;}
.w-19 {width: 19%;}
.w-20 {width: 20%;}
.w-21 {width: 21%;}
.w-22 {width: 22%;}
.w-23 {width: 23%;}
.w-24 {width: 24%;}
.w-25 {width: 25%;}
.w-26 {width: 26%;}
.w-27 {width: 27%;}
.w-28 {width: 28%;}
.w-29 {width: 29%;}
.w-30 {width: 30%;}
.w-31 {width: 31%;}
.w-32 {width: 32%;}
.w-33 {width: 33%;}
.w-34 {width: 34%;}
.w-35 {width: 35%;}
.w-36 {width: 36%;}
.w-37 {width: 37%;}
.w-38 {width: 38%;}
.w-39 {width: 39%;}
.w-40 {width: 40%;}
.w-41 {width: 41%;}
.w-42 {width: 42%;}
.w-43 {width: 43%;}
.w-44 {width: 44%;}
.w-45 {width: 45%;}
.w-46 {width: 46%;}
.w-47 {width: 47%;}
.w-48 {width: 48%;}
.w-49 {width: 49%;}
.w-50 {width: 50%;}
.w-51 {width: 51%;}
.w-52 {width: 52%;}
.w-53 {width: 53%;}
.w-54 {width: 54%;}
.w-55 {width: 55%;}
.w-56 {width: 56%;}
.w-57 {width: 57%;}
.w-58 {width: 58%;}
.w-59 {width: 59%;}
.w-60 {width: 60%;}
.w-61 {width: 61%;}
.w-62 {width: 62%;}
.w-63 {width: 63%;}
.w-64 {width: 64%;}
.w-65 {width: 65%;}
.w-66 {width: 66%;}
.w-67 {width: 67%;}
.w-68 {width: 68%;}
.w-69 {width: 69%;}
.w-70 {width: 70%;}
.w-71 {width: 71%;}
.w-72 {width: 72%;}
.w-73 {width: 73%;}
.w-74 {width: 74%;}
.w-75 {width: 75%;}
.w-76 {width: 76%;}
.w-77 {width: 77%;}
.w-78 {width: 78%;}
.w-79 {width: 79%;}
.w-80 {width: 80%;}
.w-81 {width: 81%;}
.w-82 {width: 82%;}
.w-83 {width: 83%;}
.w-84 {width: 84%;}
.w-85 {width: 85%;}
.w-86 {width: 86%;}
.w-87 {width: 87%;}
.w-88 {width: 88%;}
.w-89 {width: 89%;}
.w-90 {width: 90%;}
.w-91 {width: 91%;}
.w-92 {width: 92%;}
.w-93 {width: 93%;}
.w-94 {width: 94%;}
.w-95 {width: 95%;}
.w-96 {width: 96%;}
.w-97 {width: 97%;}
.w-98 {width: 98%;}
.w-99 {width: 99%;}
.w-100 {width: 100%;}